*{
  box-sizing: border-box
}
body{
  background-color: #f5eadc;
}
main{
  background-color:#f5eadc;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  margin: 0;
}

head{
  color: black;
  align-items: center;
  justify-content: flex;
}

.navbar{
  display:flex;
  justify-content: flex-end;
  margin: 0;
  /* padding:7px; */
  background-color: black;
  color: white;
  font-size: 20px;
  align-items:center;
}

nav a {
  text-decoration: none;
  margin-right: 25px;
  justify-content: space-between;
  color: white;
  padding: 10px;
}

.design{
  flex: center;
  width: 1000px;
  height: 100%;
}

.left-link {
  flex: 1 1 200px;
  color: white;
  font-size: 50px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 45px;
  font-family: Marcellus, serif;
}

.About-me {
  display:flex;
  align-items: center;
  justify-content: center;
}
.am1 {
  flex: 1;
  width: 50px;
}
.left-side {
  border: 10px;
  width: 50%
  height: 250px;
  margin-left: 15px;
}

.right-side {
  width:50%;
  height: 250px;
  background-color: #fff2e0;
  margin: 5px;
  padding: 6px;
  justify-content: center;
}

.parapgraph{
  display: flex;
  font-size: 15px;
  justify-content: center;
  font-family: Marcellus, serif;
  text-decoration: underline;
}

#Portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  flex: 1;
  width: 50px;
}

.left-box {
  margin: 20px;
  border:5px;
  width: 50%;
  height: 475px;
  /* background-color: blue; */
}

.second {
  width: 50%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.rbox1, .rbox2, .rbox3, .rbox4 {
  border: 10px;
  width:50%;
  height: 225px;
  /* background-color: purple; */
  border-color: lightblue;
  margin: 25px, 30px, 15px, 10px;
  padding: 10px;
}

.Contact {
  background-color: black;
  color: white;
  font-size:20px;
  width: 100%
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 1180px) {
  main,
  nav,
  .about-me,
  .left-side {
    flex-direction: column;
    justify-content: center;
  }
}
/* 
@media screen and (max-width: 1180px) {
  .about-me,
  .left-side {
    flex-direction: column;
  }
} */
@media screen and (max-width: 1140px) {
  .first,
  .second {
    display: flex;
    flex-direction: column;
    width: 100% */
    flex-basis: auto;
  }

  .first {
    order: 1;
  }
  .second {
    order: 2;
  }
}
