*{
  box-sizing: border-box
}
body{
  background-color: pink;
}
main{
  background-color:grey;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}

head{
  color: black;
  align-items: center;
  justify-content: flex-start;
}

.navbar{
  display:flex;
  justify-content: flex-end;
  margin: 0;
  padding:10px;
  background-color: green;
  font-size: 20px;
  align-items:center;
}

nav a {
  text-decoration: none;
  margin-right: 25px;
  justify-content: space-between;
  padding: 15px;
}

.left-link {
  flex: 1 1 200px;
  color: white;
  font-size: 25px;
  justify-content: flex-start;
}

ul{
  list-style-type: none;
}


Portfolio{
display: flex;
}


ul, li{
  display: inline-block;
  justify-content: space-between;
}

#Portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  flex: 1;
width: 50px;

}

.left-box {
  border:5px;
  width: 75%;
  height: 600px;
  background-color: blue;
}

.second {
  width: 50%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.rbox1, .rbox2, .rbox3, .rbox4 {
  border: 5px;
  width:40%;
  height: 225px;
  background-color: purple;
  margin: 25px, 25px, 10px, 10px;
}